

.carousel-indicators {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 5rem;
    margin-left: -39rem;
    list-style: none;
  }
  .step-number {
    font-size: 15px;
    font-weight: 600;
    background-color: green;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 25px;
    text-align: center;
    line-height: 25px;
  }
  
  .step-text {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-top: -5px;
  }
          .row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .cardd:hover{
            border: 3px solid black;
            
           
            cursor: pointer;
        }
        .cardd:hover small {
              visibility: visible;
          }
      
        .carda {
          
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin: 0 10px;
            text-align: center;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
  
            
            
            margin-top: 70px;
        }
        .start-now-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff; /* Set text color to white or any color that contrasts with the image */
          font-size: 2em; /* Adjust the font size as needed */
      }
      
        .carda img:hover {
          opacity: 0.6;
        }
       
          .cardd {
            width: 200px;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin: 0 10px;
            text-align: center;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            
            
            margin-top: 70px;
        }
        .card:hover{
          scale: 1.1;
          transition: 1s ease-in-out;
          cursor: pointer;
        }
        .carda:hover{
          scale: 1.05;
          transition: 1s ease-in-out;
          cursor: pointer;
        }
        @media (max-width: 1330px) {
          /* Hide the carousel when the screen width is 767 pixels or less */
          #shadyyyyyy {
            display: none;
          }
          #carousel-text{
            display: none;
          }

        }
     